
body{
  margin:0px;
    padding: 0px;
}

        
          #header{
              background-color: rgb(50,50,50);
              border-bottom: thin solid black;
              height:120px;
              
             
          }
          #head1{
               margin: 0px;
              padding-top: 30px;
              padding-left: 10px;
              color: dimgray;
              font-family: "Times New Roman",Times,serif;
              font-weight:normal;
              text-align: left;
              width:350px;
          }
          
          #head2{
               
               padding-top: 75px;
               padding-left: 10px;
/*               background-color: rgb(30,30,30);*/
               color:dimgray;
               height:400px;
           }
           #head2 figure{
               float:right;
           }
            .head6{
               padding-top: 20px;
               padding-left: 0px;
               background-color: white;
               color:black;
               height:430px;
               font-weight:normal;
           }
           #lp3{
               
               color:black;
               font-weight:normal;
               float:right;
               position: absolute;
               top: 250px;
               left: 480px;
              
           }
           #lp1{
                float:right;
                position: absolute;
                top: 20px;
                right: 10px;
                padding:25px 10px 30px 100px;
                font-weight: bold;               
          }

           
          #lp1 li {
              display: inline;
              padding: 20px;
              margin: 0px;
              font-family:"Courier New", monospace;
              font-weight:normal;
              font-size:20px;
              text-decoration: none;
              
          }
          
          #lp1 a{
              text-decoration: none;
              color:dimgray;
              border-radius: 10px;
          }
          
          #lp1 li:hover{
             background-color: #D32F2F;
             outline-color: #D32F2F;
             border-radius: 20px;
           
          }
          .more a{
           padding: 5px;
           color: white;
           width:fit-content;
           height:fit-content;
           background-color: #D32F2F;
           text-decoration: none;
           border-radius: 5px;
           
          }
          
          #pjesa2
          {     
              height: 400px;
              margin: 3px 0px 0px 0px;
              background-color: lightgrey;
              padding: 10px 5px;
              border-bottom: 1px solid gray;
              
          }
          
          #pjesa3
          {
            height:500px;
            margin: 0px 0px 0px 0px;
            background-color: lightgray;
            padding: 20px 10px; 
            border-bottom: 1px solid gray;
          }
          
          #pjesa4{
              height:420px;
              margin:3px 0px 0px 0px;
              background-color: lightgray;
              padding: 5px; 
             
               
          }
          #pjesa4 a,h3{
              color: #D32F2F;
              text-decoration: none; 
          }
          .forth
          {
              margin: 5px 0px 0px 0px;
              width:24%;
              height: 300px;
              text-align: center;
              display: inline-block;
              padding: 0px;
                
          }
          
          .forth1
          {
              margin: 0px;
              width:24%;
              height: 300px;
              text-align: left;
              display: inline-block;
              padding: 0px;
                
          }
          
          article h2 {
              font-family: serif;
          }
          
          
          p,#pjesa4 h2{
              color:dimgray;
          }
         

         #form,#emri,#email,#subjekti{
                background-color: #232323;
                color:white;
                border-radius: 5px;
                padding: 6px 6px;
                margin: 0px ;

            }
            
                #button{
                padding: 3px;
           color: white;
          font-family: monospace;
           background-color: rgb(200,20,0);
           font-size: 15px;
           border-radius: 8px;
            } 

