/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2019, 2:22:22 PM
    Author     : Lenovo
*/
  
            #div1, #div2 {
              float: right;
              width: 100px;
              height: 70px;
              margin: 10px;
              border: 1px solid black;
              -ms-transform: scale(1, 0.8); /* IE 9 */
              -webkit-transform: scale(1, 0.8); /* Safari */
              -moz-transform:scale(1, 0.8);/* Firefox */
              -o-transform:scale(1, 0.8);/* Opera */
               transform: scale(1, 0.8);
              -ms-transform: skewY(-3deg); /* IE 9 */
              -webkit-transform: skewY(-3deg); /* Safari */
              -moz-transform:skewY(-3deg);/* Firefox */
              -o-transform:skewY(-3deg);/* Opera */
               transform: skewY(-3deg);
                         }
            body{ 
                margin:0%;
                background-color:#232323;
                }
          
           #header{
              background-color: rgb(50,50,50);
              border-bottom: thin solid black;
              height:120px;
                  }
          button {
              border-color: black;
              border-style:inset;
              color:rgb(200,20,0);
              font-weight: bolder;
              background-color:#282828;
                }
                
          #head1{
              margin: 0px;
              padding-top: 40px;
              padding-left: 10px;
              color: dimgray;
              font-family: "Times New Roman",Times,serif;
              font-weight:normal;
              text-align: left;
              width:350px;
          }
          #lp1{
                float:right;
                position: absolute;
                top: 20px;
                right: 10px;
                padding:25px 10px 30px 100px;
          }


          #lp1 li {
              display: inline;
              padding: 20px;
              margin: 0px;
              font-family:"Courier New", monospace;
              font-weight:normal;
              font-size:20px;
              text-decoration: none;
          }

          #lp1 a{
              text-decoration: none;
              color:dimgray;
          }

          #lp1 li:hover{
             background-color: #D32F2F;
             outline-color:#D32F2F;
             border-radius: 20px;


          }
          #part1
          {
              height: 500px;
              margin: 0px ;
              background-image: linear-gradient(to bottom right, rgb(200,200,200), rgb(100,100,100));
              padding: 10px 5px;
              border-bottom: 1px solid black;

          }
          #newsTable{
            table-layout: auto;
            padding: 30px 70px;
          }
          .more a,#submit{
           padding: 5px;
           color: white;
           width:fit-content;
           height:fit-content;
           background-color: rgb(200,20,0);
           text-decoration: none;
           border-radius: 5px;

          }
          .forth
          {
              margin: 5px 0px 0px 0px;
              width:350px;
              height: 300px;
              text-align: center;
              display: inline-block;
              padding: 5px;

          }
          #footer{
              padding:5px;
          }

          .endForth{
            text-align: left;
            display: inline-block;
            width:350px;
            padding: 5px;
          }

          #part2
          {
              height: 500px;
              margin: 0px 0px 0px 0px;
              background-color: lightgrey;
              padding: 10px 5px;
              border-bottom: 15px solid gray;
          }

          #pjesa4{
              height:500px;
              margin: 0px 0px 0px 0px;
              background-color: lightgray;
              padding: 20px 10px;
              border-top: 8px solid #D32F2F;

          }

          p,#pjesa4 h2{
              color:dimgray;
          }

          #pjesa4 a,h3{
              color: rgb(200,20,0);
              text-decoration: none;
          }

            .news{
                 margin: 0px 0px 0px 0px;
                 width: 450px;
                 height: 300px;
                 text-align: center;
                 display: inline-block;
                 padding: 5px;
            }

            .mainpart{
                width: 100%;
                height: 500px;
                background-image: url("a.jpg");
            }

            #figcap{

                  padding:10px;
                  width:45%;
                  position: absolute;
                  top: 65%;
                  left: 5%;
                  background-color:#282828;
                  border-radius: 15px;
                  color:rgb(200,20,0);
                  border-bottom: 15px solid black;
                  font-family: "Courier New", monospace;
              }
              

.pulsate
{
    -webkit-animation: puls 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
    font-size: 25px;
    position:absolute;
    top:30%;
    left:5%;
    width: 40%;
    color:black;
    font-family: Monotype Corsiva;
}
@-webkit-keyframes puls {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;
    }
}

body{
    margin:0px;
    padding: 5px;
}

  #movie{
            position: absolute;
            top: 70%;
            left: 90%;
            border-radius: 50%;
          }
   .rrotullim{
        animation: rotating 3s linear infinite;
    }

@keyframes rotating {
  from {
    -ms-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  to {
    -ms-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -webkit-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}       
 .part5{
background-image: linear-gradient(to bottom, whitesmoke, gray);
            height:400px;
            padding: 10px;
/*            background-image: url("bback.jpg");*/
        }

        #pjesaFundit{
            text-align: center;
            width: 100%;
        }
        
        #button{
             background-color: #555555;
                color:white;
                border-radius: 5px;
                padding: 6px 6px;
                margin: 0px ;
                position: absolute;
                top:76%;
                left:2%;

            }
            #button1{
              background-color: #555555;
                color:white;
                border-radius: 5px;
                padding: 6px 6px;
                margin: 0px ;
                position: absolute;
                top:72%;
                left:2%;  
            }    
          