/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 6, 2019, 12:01:36 AM
    Author     : Lenovo
*/


          body{
            margin:0px;

          }
          #header{
              background-color: rgb(50,50,50);
              border-bottom: thin solid black;
              height:120px;


          }
          #head1{
              margin: 0px;
              padding-top: 40px;
              padding-left: 10px;
              color: dimgray;
              font-family: "Times New Roman",Times,serif;
              font-weight:normal;
              text-align: left;
              width:350px;
          }
          #lp1{
                float:right;
                position: absolute;
                top: 20px;
                right: 10px;
                padding:25px 10px 30px 100px;
          }


          #lp1 li {
              display: inline;
              padding: 20px;
              margin: 0px;
              font-family:"Courier New", monospace;
              font-weight:normal;
              font-size:20px;
              text-decoration: none;
          }

          #lp1 a{
              text-decoration: none;
              color:dimgray;
          }

          #lp1 li:hover{
             background-color: #D32F2F;
             outline-color:#D32F2F;
             border-radius: 20px;

          }
          #part1
          {
              height: 500px;
              margin: 0px 0px 0px 0px;
              background-image: linear-gradient(to bottom right, rgb(200,200,200), rgb(100,100,100));
              padding: 10px 5px;
              border-bottom: 1px solid gray;

          }
          .more a,#submit{
           padding: 5px;
           color: white;
           width:fit-content;
           height:fit-content;
           background-color: rgb(200,20,0);
           text-decoration: none;
           border-radius: 5px;

          }
          .forth
          {
              margin: 5px 0px 0px 0px;
              width:350px;
              height: 300px;
              text-align: center;
              display: inline-block;
              padding: 5px;

          }
          #footer{
              padding:5px;
          }

          .endForth{
            text-align: left;
            display: inline-block;
            width:350px;
            padding: 5px;
          }

          #part2
          {
              height: 500px;
              margin: 0px 0px 0px 0px;
              background-color: lightgrey;
              padding: 10px 5px;
              border-bottom: 15px solid gray;
          }

          #pjesa4{
              height:500px;
              margin: 0px 0px 0px 0px;
              background-color: lightgray;
              padding: 20px 10px;;
              border-top: 8px solid #D32F2F;

          }

          #figcap{

                padding:10px;
                width:45%;
                position: absolute;
                top: 65%;
                left: 5%;
                background-color:#282828;
                border-radius: 15px;
                color:rgb(200,20,0);
                border-bottom: 15px solid #D32F2F;
                font-family: "Courier New", monospace;


          }

          p,#pjesa4 h2{
              color:dimgray;
          }

          #pjesa4 a,h3{
              color: rgb(200,20,0);
              text-decoration: none;
          }

          .mainpart{
              width: 100%;
              height: 500px;
              background-image: url("a.jpg");
          }
          #movie{
            position: absolute;
            top: 70%;
            left: 90%;
            border-radius: 50%;
          }

          .pulsate {
    -webkit-animation: puls 3s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
    font-size: 25px;
    position:absolute;
    top:30%;
    left:50%;
    width: 40%;
    color:black;
    font-family: Monotype Corsiva;
}
@-webkit-keyframes puls {
    0% {
        opacity: 0.2;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        opacity: 0.2;
    }
}

 .rrotullim{
        animation: rotating 3s linear infinite;
    }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

 #button{
                padding: 10px;
           color: white;
          font-family: monospace;
           background-color: rgb(200,20,0);
           font-size: 15px;
           border-radius: 8px;
           position: absolute;
           top:58%;
    left:7%;

            }

            .part5{
background-image: linear-gradient(to bottom, whitesmoke, gray);
            height:400px;
            padding: 10px;
/*            background-image: url("bback.jpg");*/
        }
                  button {
              border-color: black;
              border-style:inset;
              color:rgb(200,20,0);
              font-weight: bolder;
              background-color:#282828;
                }

  #form,#factor,#fregisor,#fmovie{
                background-color: #555555;
                color:white;
                border-radius: 5px;
                padding: 6px 6px;
                margin: 0px ;

            }

            #textForm{
                font-weight:bold;
                color:black;
            }


            #bestf{
                position:absolute;
                top:100%;
                left:80%;
                width:150px;
            }