/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2018, 4:43:04 PM
    Author     : Lenovo
*/



body{margin:0;
     padding:0;
     font-size:13px;
     font-family:Georgia, "Times New Roman", Times, serif;
     color:#919191; 
     background-color:#232323;}
#head1{
    
    background-color:#232323;
    color:#919191;
    margin: 0em 4em 0.5em 4em;
    
}
small{
    margin: 0;
}
div{
	background-color: #728b69;
        padding: 0.25em ;
}
div ul li{
	list-style: none;
	display: inline;
}

div a{
	padding: 0.25em ;
}
div h1 a {
    color:#919191; 
    text-decoration: none;
}
div ul li{
	list-style: none;
	display: inline;
        text-align: left;
        color:#919191;
        text-decoration: none;
}
/*a{
    outline:none; 
  text-decoration:none;
}


#header, #container, #footer
{
    display:block; 
    width:960px;
    margin:0 auto;
}

nav ul
{
    margin:0;
    padding:0;
    list-style:none;
}

h1, h2, h3, h4, h5, h6
{margin:0; 
 padding:0;
 font-size:16px; 
 font-weight:bold;
 font-style:normal; 
 line-height:normal; 
 text-transform:uppercase;
}*/